.formulario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.inputs {
  padding: 1rem;
  margin: 2rem;
  border-color: rgb(21, 126, 126);
  border-radius: 10px;
}
.continuar {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.continuar:hover {
  text-decoration: none;
}

.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(21, 126, 126);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
