.mensajeEstilo {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mensajeEstilo:hover {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
